
Proy1_Diseno_InvestSys/Proy1_Diseno_InvestSys/obj/Debug/Proy1_Diseno_InvestSys.csprojAssemblyReference.cache
Proy1_Diseno_InvestSys/.vs/Proy1_Diseno_InvestSys/v15/.suo
Proy1_Diseno_InvestSys/.vs/Proy1_Diseno_InvestSys/v15/Server/sqlite3/storage.ide
Proy1_Diseno_InvestSys/.vs/Proy1_Diseno_InvestSys/v15/Server/sqlite3/storage.ide-shm
Proy1_Diseno_InvestSys/.vs/Proy1_Diseno_InvestSys/v15/Server/sqlite3/storage.ide-wal
